<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<div class="container text-center">
    <h1>About</h1>
    <p>This site was made by Stewart</p>
    <p>It serves as an exercise in Python and Django</p>
    <p>A user can create a random password and select options such as Uppercase, Numbers and Special Characters</p>
    <a class="btn btn-warning" href="{% url 'home' %}">HOME</a>
</div>